---
layout: default

redirect_from: 
  - /le-lieu
  - /les-taunautes
  - /tarifs
  - /a-propos
  - /cgu
  - /contact
  - /blog
  - /blog/posts/venez-co-travailler-y-a-de-la-place
  - /blog/posts/votre-espace-de-coworking-sera-ferme-lundi-6-avril
  - /blog/posts/putain-3-ans
  - /blog/posts/tau-accueille-tedx-toulouse-le-24-mai
  - /blog/posts/coding-dojo-le-6-fev
  - /blog/posts/forfait-permanomade-les-cles-de-tau-pour-100-euros-mois
  - /blog/posts/coworking-space-un-lieu-de-rencontre-planetaire
  - /blog/posts/drinkup-toulouse-rb-et-prochains-evenements-ruby
  - /blog/posts/atelier-bring-your-own-code
  - /it
  - /it/le-lieu
  - /it/tarifs
  - /it/a-propos
  - /it/cgu
  - /it/blog
---

{% include header.html %}
{% include intro.html %}
{% include prices.html %}
{% include services.html %}
{% include pictures.html %}
{% include contact.html %}
{% include scripts.html %}
