---
layout: default

redirect_from: '/le-lieu'
redirect_from: '/les-taunautes'
redirect_from: '/tarifs'
redirect_from: '/a-propos'
redirect_from: '/cgu'
redirect_from: '/contact'
redirect_from: '/blog'
redirect_from: '/blog/posts/venez-co-travailler-y-a-de-la-place'
redirect_from: '/blog/posts/votre-espace-de-coworking-sera-ferme-lundi-6-avril'
redirect_from: '/blog/posts/putain-3-ans'
redirect_from: '/blog/posts/tau-accueille-tedx-toulouse-le-24-mai'
redirect_from: '/blog/posts/coding-dojo-le-6-fev'
redirect_from: '/blog/posts/forfait-permanomade-les-cles-de-tau-pour-100-euros-mois'
redirect_from: '/blog/posts/coworking-space-un-lieu-de-rencontre-planetaire'
redirect_from: '/blog/posts/drinkup-toulouse-rb-et-prochains-evenements-ruby'
redirect_from: '/blog/posts/atelier-bring-your-own-code'

# Unfortunately the language cannot be detected here
redirect_from: '/en'
redirect_from: '/en/the-place'
redirect_from: '/en/pricing'
redirect_from: '/en/about'
redirect_from: '/en/terms'
redirect_from: '/en/blog'

redirect_from: '/it'
redirect_from: '/it/le-lieu'
redirect_from: '/it/tarifs'
redirect_from: '/it/a-propos'
redirect_from: '/it/cgu'
redirect_from: '/it/blog'
---

{% include header.html %}
{% include call-to-action.html %}
{% include services.html %}
{% include portfolio.html %}
{% include contact.html %}
{% include scripts.html %}