<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-12 text-center">
              <h2 class="section-heading">{% t call-to-action.title %}</h2>
              <hr class="light">
              <p class="text-faded">{% t site.description %}</p>
          </div>
          <div class="col-lg-8 col-lg-offset-2 col-md-12 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                <h3>{% t call-to-action.prices.permanent.title %}</h3>
                <p>{% t call-to-action.prices.permanent.description %}</p>
            </div>
          </div>
          <div class="col-lg-8 col-lg-offset-2 col-md-12 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                <h3>{% t call-to-action.prices.nomad.title %}</h3>
                <p>{% t call-to-action.prices.nomad.description %}</p>
            </div>
          </div>
          <div class="col-lg-8 col-lg-offset-2 col-md-12 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                <h3>{% t call-to-action.prices.tickets.title %}</h3>
            </div>
          </div>
          <div class="col-lg-8 col-lg-offset-2 col-md-12 text-center">
              <hr class="light">
              <p class="text-faded">
                {% t call-to-action.prices.flexible %}
                {% t call-to-action.prices.subscription %}
              </p>
              <a href="#" class="btn btn-default btn-xl">{% t call-to-action.contact-us %}</a>
          </div>
        </div>
    </div>
</section>
