<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{% t header.punchline %}</h1>
            <hr class="invisible">
            <div>
              <p>{% t header.punchline-2 %}</p>
            </div>
            <a href="#intro" class="btn btn-primary btn-xl page-scroll">
                <i class="glyphicon glyphicon-chevron-down"></i>
                {% t header.free-day %} 
                <i class="glyphicon glyphicon-chevron-down"></i>
            </a>
        </div>
    </div>
</header>
