<section class="bg-primary" id="prices">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-12 text-center">
        <h2 class="section-heading">{% t prices.title %}</h2>
        <hr class="light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1 text-center well">
        <p class="text-primary">{% t prices.free-day.title %}</p>
        <a href="#contact" class="btn btn-primary btn-xl page-scrol"l>{% t prices.free-day.action %}</a>
      </div>
    </div>
    <div class="row text-center">
      <div class="service-box">
        <i class="fa fa-4x fa-desktop wow bounceIn"></i>
        <h3>{% t prices.permanent.title %}</h3>
        <p>{% t prices.permanent.description %}</p>
      </div>
      <div class="service-box">
        <i class="fa fa-4x fa-laptop wow bounceIn"></i>
        <h3>{% t prices.nomad.title %}</h3>
        <p>{% t prices.nomad.description %}</p>
      </div>
      <div class="service-box">
        <i class="fa fa-4x fa-ticket wow bounceIn"></i>
        <h3>{% t prices.tickets.title %}</h3>
        <p>{% t prices.tickets.description %}</p>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center">
      <hr class="light">
      <p class="text-faded">
        {% t prices.flexible %}
        {% t prices.subscription %}
      </p>
      <a href="#contact" class="btn btn-inverse btn-xl page-scroll">{% t prices.contact-us %}</a>
    </div>
  </div>
</div>
</section>
