<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services proposés</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-key wow bounceIn text-primary"></i>
                    <h3>Accès illimité à l’espace 24h/7j</h3>
                    <p class="text-muted">En gros t’as les clefs (sauf formule au carnet)</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cutlery wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Salle de repos / repas</h3>
                    <p class="text-muted"> Canapés, vaisselle, frigo, micro-onde, fléchettes</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bolt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Accès internet fibre</h3>
                    <p class="text-muted">300Mbits en téléchargement Wifi et 1Gbits en Ethernet</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-print wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Imprimante laser couleur, scanner</h3>
                    <p class="text-muted"> </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-coffee wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Thé, café, PQ illimité…</h3>
                    <p class="text-muted"> </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Convivialité</h3>
                    <p class="text-muted">Repas en commun si souhaité, échanges pertinents et nourrissants</p>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tint wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Eau potable municipale à volonté</h3>
                    <p class="text-muted"> </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Accès illimité à la place de la Daurade</h3>
                    <p class="text-muted">Les jours de beau temps</p>
                </div>
            </div>
        </div>
    </div>
</section>
