#reglement {
  margin-top: 100px;
  line-height: 1.25;

  &, p, ul {
    font-size: 18px;
  }


  h1 {
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    span{
      font-size: 1.75em;
      text-transform: none;
      line-height: inherit;
      color: $theme-primary;
    }
  }

  h2, h3 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  strong a {
    background: $theme-primary;
    color: white;
    border-radius: 50px;
    padding: 0.5em 0.8em;
    margin: 7rem auto;
    width: 300px;
    display: block;
    text-align: center;

    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}